body {
    padding-top: 50px;
}
.digitalbank-template {
    padding: 40px 15px;
    text-align: center;
}
.container-fluid {
    padding: 0px;
}
.conteudo-index {
    position: relative;
    z-index: 9999;
}

.img-fundo {
  position: absolute; 
  top: 0px; 
  width: 100%;
}

.letra-sobre {
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    font-style: oblique;
}
